<p-toast></p-toast>
<div class="issues">
    <ng-container  *ngFor="let issue of service.issues">
        <div (click)="openIssueDetails(issue.id)" [ngStyle]="{'box-shadow': '0px 10px 15px -5px '+ getColorIssuePriority(issue.priority)}"   class="issue">
            <div class="priority" [style.backgroundColor]="getColorIssuePriority(issue.priority)">
                <h2>Priority: {{ getPriorityName(issue.priority) }}</h2>
            </div>
            <h1>{{ issue.title }}</h1>
            <div class="description">
                <h3 style="color: rgb(53, 53, 53);">{{ issue.description }}</h3>
            </div>
            <ng-container *ngIf="issue.users && issue.users.length > 0">
                <h4 style="color: rgb(88, 88, 88); text-overflow: ellipsis;">
                   Users:  {{ getNameOfUsers(issue) }}
                </h4>
            </ng-container>
            <div class="updatedTime">
                <h4 align="right">Last updated time: {{ issue.updateDate?? issue.createdDate | date: 'dd.MM.yyyy' }}</h4>
            </div>
        </div>
    </ng-container>
   
</div>
