
<p-toast></p-toast>
<mat-dialog-content class="mat-typography">
    <div class="mat-dialog-inner">
        <button style="width: 200px; align-self: flex-end;"  mat-dialog-close mat-raised-button color="accent">Close</button>
        <form class="issue-form" [formGroup]="issueForm" (ngSubmit)="saveIssue()">
            <div class="left-side">
                <mat-form-field appearance="outline">
                    <mat-label>Title: </mat-label>
                    <input required matInput formControlName="title">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea style="height: 200px;" matInput formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Priority</mat-label>
                    <mat-select formControlName="priority">
                       <mat-option required [value]="priority" *ngFor="let priority of service.getPriorityValues">
                            {{ service.getPriorityName(+priority) }}
                       </mat-option>    
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="right-side" [ngStyle]="{'border': issueForm.disabled ? '1px solid red' : '1px solid green'}">
                <div class="right-side-users">
                    <mat-selection-list [(ngModel)]="selectedUserIds" #usersList [disabled]="issueForm.disabled" [ngModelOptions]="{standalone: true}">
                        <ng-container *ngFor="let user of service.userDtos">
                            <mat-list-option [value]="user.id" [ngStyle]="{ 'color': this.service.selectedUsersDict[user.id!] ? 'green' : 'red' }" [selected]="this.service.selectedUsersDict[user.id!]">
                                {{ user.userName }}
                              </mat-list-option>
                        </ng-container>
                      </mat-selection-list>
                </div>
                  <p style="margin-left: 15px; margin-top: 10px;">
                    Users in issue selected: {{usersList.selectedOptions.selected.length}}
                  </p>
            </div>

        </form>
        <div class="actions">
            <ng-container *ngIf="issueForm.disabled; else saveButton">
                <button color="primary" (click)="editIssue()" mat-raised-button>Edit</button>
            </ng-container>
            <ng-template #saveButton>
                <button [disabled]="issueForm.invalid" color="primary" mat-raised-button (click)="saveIssue()">Save</button>
            </ng-template>
            <ng-container *ngIf="service.issueDataTransfer && service.issueDataTransfer.id">
                <button (click)="deleteIssue()" mat-raised-button color="warn">Remove</button>
            </ng-container>
        </div>
    </div>
</mat-dialog-content>

