<div class="navbar">
    <div class="logo">
        <h1>IssueTracker</h1>
    </div>
    <ul>
        <li>
            <a routerLink="users"  routerLinkActive="active-link">Users</a>
            
        </li>
        <li>
            <a  routerLink="issues" routerLinkActive="active-link">Issues</a>
        </li>
    </ul>
</div>
<div class="main-content">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <a href="https://github.com/00016777/IssueTracker00016777">https://github.com/00016777/IssueTracker00016777</a>
</div>